Connectionmergeall5.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- <xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:common="http://domainmodel.pts_fsm.org/2015/10/29/common"
	xmlns:infrastructure="http://domainmodel.pts_fsm.org/2015/10/29/infrastructure"
	xmlns:journeyplan="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan"
	xmlns:transportation="http://domainmodel.pts_fsm.org/2015/10/29/transportation"
	xmlns:connection="http://domainmodel.pts_fsm.org/2015/10/29/connection"
	targetNamespace="http://domainmodel.pts_fsm.org/2015/10/29/connection" elementFormDefault="qualified">
 -->

<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:connection="http://domainmodel.pts_fsm.org/2015/10/29/connection"
	targetNamespace="http://domainmodel.pts_fsm.org/2015/10/29/connection" elementFormDefault="qualified">

	
<!-- 	<xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/common" schemaLocation="Common.xsd"/>
	<xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/infrastructure" schemaLocation="Infrastructure.xsd"/>
	<xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/journeyplan" schemaLocation="JourneyPlan.xsd"/>
	<xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/transportation" schemaLocation="Transportation.xsd"/>
 -->

    <!-- start of Common.xsd   -->


	<xsd:simpleType name="URL">
		<xsd:restriction base="xsd:anyURI">
			<xsd:pattern value="http://.+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="DateOrDateTime">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A construct to validate either a date or a
				dateTime value.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:date xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateOrMonthDay">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A construct to validate either a date or a month
				and day
				value.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:date xsd:gMonthDay"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateOrYearMonth">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A construct to validate either a date or a year month value.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:date xsd:gYearMonth"/>
	</xsd:simpleType>
	<xsd:simpleType name="DateOrTimeOrDateTime">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A construct to validate either a date or a time or a dateTime value.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="xsd:date xsd:dateTime xsd:time"/>
	</xsd:simpleType>

	<xsd:simpleType name="Numeric1to999">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Used for Numeric values, from 1 to 999 inclusive.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:integer">
			<xsd:maxInclusive value="999"/>
			<xsd:minInclusive value="1"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="Percentage">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Used for percentage values.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:maxInclusive value="100.00"/>
			<xsd:minInclusive value="0.00"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NumericNonNegativeDecimal">
	  <xsd:annotation>
	    <xsd:documentation>The non-negative-decimal type specifies a non-negative decimal value.</xsd:documentation>
	  </xsd:annotation>
	  <xsd:restriction base="xsd:decimal">
	    <xsd:minInclusive value="0.00"/>
	  </xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StringLength0to255">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Used for Character Strings, length 0 to 255.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="0"/>
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StringLength1to64">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Used for Character Strings, length 1 to 64.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>

 	<xsd:complexType name="AdditionalEntry">
		<xsd:sequence>
			<xsd:element name="key" minOccurs="1" maxOccurs="1" type="connection:StringLength0to255">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Key in key/value pair. Occurrence Indicators : one and only one key has to be defined.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valuetype" minOccurs="0" maxOccurs="1" type="connection:MasterData.GUID">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">MasterData type used to define the type of a value provided in a key-value pair. Occurrence Indicators : optional parameter, if not defined the "value" will be considered as a string.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="value" minOccurs="1" maxOccurs="1" type="connection:GenericTextMessage">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Value in key/value pair. Occurrence Indicators : one and only one value has to be defined.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
    	</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenericTextMessage">
		<xsd:sequence minOccurs="0">
			<xsd:element name="text" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
		<xsd:attribute name="LanguageId" type="connection:MasterData.GUID" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">MasterData type used to define the language of a text. The values are taken over from standard ISO 639.</xsd:documentation>
			</xsd:annotation>		
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="GenericStatus">
		<xsd:sequence minOccurs="0">
			<xsd:element name="Status" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">MasterData used to define the status of a business object. Occurrence Indicators : optional parameter,</xsd:documentation>
				</xsd:annotation>	
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="DateTime" type="connection:DateOrDateTime" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Status Date and Time.</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	

	
    <!-- xsd:simpleType name="FunctionalId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Used for functional Ids, everything is allowed except whitespaces.
			</xsd:documentation>
		</xsd:annotation>
        <xsd:restriction base="xsd:string">
			<xsd:pattern value="[\S]*"/>
        </xsd:restriction>
    </xsd:simpleType-->
    
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[\da-fA-F]{8}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{4}-[\da-fA-F]{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="external.GUID">
		<xsd:restriction base="connection:GUID"/>
		<!-- Temporary type to distinguish between the different ways of using IDs and IDrefs -->
	</xsd:simpleType>
	<xsd:simpleType name="MasterData.GUID">
		<xsd:restriction base="xsd:NMTOKEN"/>
		<!-- Temporary type to distinguish between the different ways of using IDs and IDrefs -->
	</xsd:simpleType>

	<xsd:complexType name="FSM.ID">
		<xsd:attribute name="RSP_ID" type="xsd:NMTOKEN"/>
		<xsd:attribute name="DIST_ID" type="xsd:NMTOKEN"/>
		<xsd:attribute name="GUID" type="connection:external.GUID"/>
		<xsd:attribute name="Id" type="xsd:ID"/>
		<xsd:attribute name="Refids" type="xsd:IDREFS"/>
	</xsd:complexType>	

	<xsd:complexType name="StartAndDuration">
		<xsd:sequence minOccurs="0">
			<xsd:element name="Start" type="xsd:dateTime"/>
			<xsd:element name="Duration" type="xsd:duration"/>
		</xsd:sequence>
	</xsd:complexType>
	

    <!-- start of Common.xsd   -->



    <!-- start of Infrastructure.xsd   -->

	<xsd:complexType name="GeoPoint">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:attribute name="Latitude" type="xsd:decimal" use="required">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Y Coordinate</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Longitude" type="xsd:decimal" use="required">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">X Coordinate</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="SRSName" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Spatial reference system name</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StopArea">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="VehicleAccess" type="connection:VehicleAccess" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Vehicle access information. Occurrence Indicators : one to many VehicleAccess can optionally be defined for a StopArea (e.g. many train access can be define along the platform with different PRM access configuration).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="StopAreaId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData a Stop Area may consist of several stop points and associated vehicle access areas, e.g. multiple platforms.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="VehicleAccess">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="GeoPoint" type="connection:GeoPoint" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Geographical position of the vehicle access. Occurrence Indicators : one and only one GeoPoint can optionally be defined for each vehicle access.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="BoardingPosition" type="connection:BoardingPosition" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Information related to the boarding position and configuration. Occurrence Indicators : one and only one BoardingPosition can optionally be defined for each vehicle access.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="Name" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Name of the vehicle access area</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="VehicleAccessAreaTypeId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData type used to indicates the type of Vehicle Access Area (e.g. a platform may be a single-track platform or a two-track platform).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="BoardingPosition">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence/>
				<xsd:attribute name="BoardingPositionId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData type used to indicates the "BoardingPosition" is an area or a point in a "StopPoint" or a "VehicleAccess" which is associated with coaches or with concrete entrances (necessary for driverless vehicles).</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Height" type="xsd:decimal" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Boarding position height.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Displacement" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Boarding position displacement.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="PRMSuitable" type="xsd:boolean" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Indicates if the boarding position is suitable for PRM.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="VehicleRampSuitable" type="xsd:boolean" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Indicates if the boarding position is suitable for vehicle ramps.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="ScheduledStopPoint">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="ArrivalTime" type="xsd:dateTime"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Indicates the time of arrival. Occurrence Indicators : one and only one "CheckInTime" can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CheckInTime" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Indicates the date and time when the passenger needs to check-in. Occurrence Indicators : one and only one "CheckInTime" can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CloseOfBoarding" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Indicates the date and time of when the boarding closes. Occurrence Indicators : one and only one "CheckInTime" can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="EffectiveDeparture" type="xsd:dateTime" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Indicates the date and time of effective vehicle departure. Occurrence Indicators : one and only one "EffectiveDeparture" can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GeoPoint" type="connection:GeoPoint" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Indicates the "ScheduledStopPoint" geographical position. Occurrence Indicators : one and only one "GeoPoint" can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="ScheduledStopPointId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData defining the position where the vehicle stops.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="StopPlace">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="ScheduledStopPoint" type="connection:ScheduledStopPoint" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Spatial-temporal information related to the stop point. Occurrence Indicators : one and only one "ScheduledStopPoints" can optionally be defined for a "StopPlace".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="StopArea" type="connection:StopArea" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Information about the train access area. Occurrence Indicators : one and only one "StopArea" can optionally be defined for a StopPlace (e.g. train boarding platform).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Description" type="connection:GenericTextMessage" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Plain-text description of the StopPlace. Occurrence Indicators : one and only one Description can optionally be defined for a StopPlace.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="StopPlaceId" type="connection:MasterData.GUID" use="required">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData type used to identify the stopPlace.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="StopPlaceTypeId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData type used to define the stop place type. A stop place may be a simple bus-station with just a single platform or a central station with a lot of platforms and buildings.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Name" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Name of the StopPlace</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="Acronym" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Acronym of the StopPlace</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="IsBorderPoint" type="xsd:boolean" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Define if the StopPlace is a border point</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="BorderPointCode" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Border point code</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="StopPlaceAccessTypeId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData type used to define the stop place access type. It can give first indications of accessibility to PRM.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Region">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="Center" type="connection:GeoPoint" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Region centroid location. Occurrence Indicators : one region centroid can optionally be defined</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="GeoPoint" type="connection:GeoPoint" minOccurs="3" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Region polygon limits coordinates. Occurrence Indicators : many region polygon limits coordinates can optionally be defined the minimum number of coordinates is 3 (which is a triangle)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


    <!-- end of Infrastructure.xsd   -->


    <!-- start of Transportation.xsd   -->


	<xsd:complexType name="Vehicle">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="ServiceBrandId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to define the Service Brand. Most types of individual collections of services derive from a means of transportation, e.g. a train type like TGV or ICE. A train, which runs from Frankfurt to Paris and offers some specific features, is called ICE-Paris. The train which serves the lines from Paris to Cologne and Frankfurt, is called Thalys. Occurrence Indicators : one to many "ServiceBrandId" can optionally be defined for a Vehicle (e.g. in case a Vehicle is co-operated between several service brand).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OnboardServiceCategoryId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to define the category of any type of equipment or service on-board of a vehicle. Occurrence Indicators : one to many "OnboardServiceCategoryId" can optionally be defined for a Vehicle.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="ExternalId" type="xsd:NMTOKEN" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Vehicle external ID.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="TypeId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Type of vehicle.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="VehicleId" type="xsd:NMTOKEN" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Vehicle ID.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="PlaceReference">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">References the segment related to the PlaceReference.
								Occurrence Indicators : the setting of this parameter is mandatory.
								The "SegmentIdRef" (type NMTOKEN) must be used at Prebooking stage and ExchangePrebooking stage in statefull workflow.
								The "SegmentRef" (type IDREF) must be used in any other cases.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="SegmentIdRef" type="xsd:NMTOKEN" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the segment related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one segment can be defined. NMTOKEN type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SegmentRef" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the segment related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one segment can be defined. IDREF type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">References the passenger related to the PlaceReference.
								Occurrence Indicators : the setting of this parameter is mandatory.
								The "PassengerIdRef" (type NMTOKEN) must be used at Prebooking stage and ExchangePrebooking stage in statefull workflow.
								The "PassengerRef" (type IDREF) must be used in any other cases.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="PassengerIdRef" type="xsd:NMTOKEN" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the passenger related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one passenger can be defined. NMTOKEN type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PassengerRef" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the passenger related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one passengers can be defined. IDREF type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="PlaceTypeId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to define the type of place in a coach (e.g. window, aisle, duo,...) Occurrence Indicators : 0-1 : if CoachId, CompartmentId, PlaceId, FloorId are defined then PlaceTypeId is not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CoachId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Coach ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CompartmentId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Compartment ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PlaceId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Place ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FloorId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Floor ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="WidthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Width Position. Occurrence Indicators : optional parameter, only one "WidthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LengthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Length Position. Occurrence Indicators : optional parameter, only one "LengthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CompartmentWidthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Compartment Width Position. Occurrence Indicators : optional parameter, only one "CompartmentWidthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CompartmentLengthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Compartment Length Position. Occurrence Indicators : optional parameter, only one "CompartmentLengthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								Define other booking passengers the current passengers want to be seat by. Place Reference is used in different ways that impacts how to refer to passengers :
								- Offering (Request-Response) : The passenger element is available ("OfferingParameters"->"Passenger") and place-reference NeighbourPassenger must refers to passengers using IDREFS.
								- PreBooking and ExchangePreBooking with Direct-Booking workflow : Again passenger element is available (in "DirectBookingParameters"->"Passenger") and place reference NeighbourPassenger must refers to passengers using IDREFS.
								- PreBooking and ExchangePreBooking Standard Process Stateless (following a Offer or Exchange Offer Responses): In this case, some RSP might allow to update PassengerPreferences during the PreBooking (or ExchangePreBooking) stage, the "passenger" information is available in the "CarrierOffer" element and place-reference NeighbourPassenger must refers to passengers using IDREFS.
								- PreBooking and ExchangePreBooking Standard Process Statefull (following a Offer or Exchange Offer Responses): In this case, some RSP might allow to update PassengerPreferences during the PreBooking (or ExchangePreBooking) stage. In this case Passenger is not available and passengers need to be referenced using External ID, by default, this ID is the RSP_ID.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="NeighbourPassengerIdRefsList" type="xsd:NMTOKENS"  minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References to Passengers that are seated together. In the context of Pre-Booking (or ExchangePreBooking) with a Statefull reference to CarrierOffers (CarrierOfferIdRefsList). Occurrence Indicators : 1-1, if the element exist a passenger reference is mandatory, NMTOKENS type allows to add multiple ID references separated with spaces</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NeighbourPassengerRefsList" type="xsd:IDREFS"  minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References to Passengers that are seated together. In the context of Offering or Direct-Booking (PreBooking or ExchangePreBooking) or in a context of Pre-Booking (or ExchangePreBooking) with a Stateless reference to CarrierOffers (CarrierOffer). Occurrence Indicators : 1-1, if the element exist a passenger reference is mandatory, IDREFS type allows to add multiple ID references separated with spaces</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


    <!-- end of Transportation.xsd   -->


    <!-- start of JourneyPlan.xsd   -->


	<xsd:complexType name="Itinerary">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An itinerary is a collection of one or more Segments.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:element name="ServiceTypeId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to indicate the type of transport services. Service type characterizes the transport service by types of stops made by the vehicle. It hence defines a basic pattern of a run. Occurrence Indicators : optionally, one to many types of service can be provided</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Segment" type="connection:Segment" minOccurs="1" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A Segment is a portion of a Path serviced by the single Vehicle associated with the Path and delimited by two Stop Places at which the Passenger boards and deboards, respectively, the Vehicle. Occurrence Indicators : at least one segment is required, many segment can be provided</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Segment">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:element name="ServiceModeId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to indicates the mode of services or the availability of equipment on-board of a vehicle. The mode of a service is characterised by a time pattern. It basically defines at which times a service is available. Occurrence Indicators : a segment can optionally be characterised by one "ServiceModeId".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="RouteTypeId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to indicates the type of route. In general train paths are served by a vehicle whose configuration does not change. In few cases the vehicle (in particular train) will change its ID or its composition of units or may even be coupled with another train for a part of the route. Occurrence Indicators : a segment can optionally be characterised by one "RouteTypeId".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="TrainPathTypeId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to indicates the type of train path (e.g. highspeed path). Occurrence Indicators : a segment can optionally be characterised by one "TrainPathTypeId".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ServiceAvailabilityId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to indicates the availability of a service. A service can be restricted to periods of a day or be offered several times for twenty-four hours per day. Occurrence Indicators : a segment can optionally be characterised by one "ServiceAvailabilityId".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Origin" type="connection:StopPlace" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The first stop place in a segment at which the Passenger boards. Occurrence Indicators : a segment must have one and only one "Origin".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="StopPlace" type="connection:StopPlace" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A stop place is a specific Stop Point at which passengers (other passengers than the ones defined for the current segment) can board and/or deboard a Vehicle. Occurrence Indicators : a segment can optionally have one to many "StopPlace".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Destination" type="connection:StopPlace" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">The final stop place in a segment at which the Passenger deboards. Occurrence Indicators : a segment must have one and only one "Destination".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Connection" type="connection:ChangePoint" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">A connection defines spatial-temporal information for passengers when they need to move by their own to a next segment. Occurrence Indicators : in case the passenger travel on the final segment there is no "Connection", many "Connections" can be defined (e.g. PRM suitable Connection, Fastest Connection without luggage).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="Vehicle" type="connection:Vehicle" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Transportation means (vehicle) associated with a segment. Occurrence Indicators : at least on VehicleId is mandatory, in some particular cases many "Vehicles" can be defined : in general segments are served by a vehicle whose configuration does not change. In few cases the vehicle (in particular train) will change its ID or its composition of units or may even be coupled with another train for a part of the route.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CarbonFootPrint">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:element name="co2Unit" type="connection:MasterData.GUID">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to indicates the unit associated to an amount of consumed CO2 (e.g. kilogram, pound). Occurrence Indicators : "CarbonFootPrint" must have one and only one "co2Unit"</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="co2Emission" type="connection:NumericNonNegativeDecimal">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Quantity of co2 according the defined co2Unit. Occurrence Indicators : CarbonFootPrint must have one and only one "co2Emission"</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


    <!-- end of JourneyPlan.xsd   -->





    <!-- start of Connection.xsd   -->



	<xsd:complexType name="ChangePoint">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:element name="ConnectionTime" type="connection:ConnectionTime" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Duration information from the beginning to the end of the change point. Occurrence Indicators : optional parameter, many "ConnectionTime" can be defined, one for each "LinkPath"</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LinkPath" type="connection:LinkPath" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Information on paths passengers need to travel on their own. Occurrence Indicators : optional parameter, many "LinkPath" can be defined in this case it needs to refer to the related "ConnectionTime" using IDREFS attributes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="StopPlaceName" type="xsd:string" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Stop place name.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="ConnectionTime">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:element name="MeanOverallChangeTime" type="xsd:duration" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Connection average duration. Occurrence Indicators : optional parameter, only one "ExperiencedOverallChangeTime" can be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ExperiencedOverallChangeTime" type="xsd:duration" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Connection experienced duration. Occurrence Indicators : optional parameter, only one "ExperiencedOverallChangeTime" can be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ImpairedOverallChangeTime" type="xsd:duration" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Connection impaired duration. Occurrence Indicators : optional parameter, only one "ImpairedOverallChangeTime" can be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="WheelchairOverallChangeTime" type="xsd:duration" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Wheel chair connection average duration. Occurrence Indicators : optional parameter, only one "WheelchairOverallChangeTime" can be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="LinkPath">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:element name="WaitingTimeTypeId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to define the type of critical barriers in a path link. Critical barriers will impact the connection time. The risk is indicated by a type of barrier or activity that will force the passenger to wait. Occurrence Indicators :  optional parameter, many "WaitingTimeTypeId" can be defined for a "LinkPath", in this case, the "NavigationPoint" it refers to need to be defined using IDREFS attributes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="MobilityAidTypeId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData used to define the type of mobility tool that can be provided to ease the change of vehicle. These are in particular means that support PRM like trolley or wheel chair. Occurrence Indicators :  optional parameter, many "MobilityAidTypeId" can be defined for a "LinkPath", in this case, the "NavigationPoint" it refers to need to be defined using IDREFS attributes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="NavigationPoint" type="connection:NavigationPoint" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Points that represent a particular node in a "LinkPath" to the next where mobility condition changes (e.g. from the train deboarding point to the identity control gate, from the identity control gate to the shuttle, from the shuttle to the boarding platform of the next segment). Occurrence Indicators : one to many "NavigationPoint" can optionally be defined for each "LinkPath".</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="PathLinkTypeId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData used to define the type of link path. Link path are routes between two points of change of vehicle. Most paths start with a platform and end with a platform and present a simple pedestrian link. In big stations a path may consist of several links and include stairs, elevators, etc.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="PedestrianPaceId" type="connection:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">MasterData used to define the pedestrian pace. The duration of a connection can be provided for several type of pace, in particular for PRM passenger.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="AidBookable" type="xsd:boolean" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Defines if aid can be booked for this link path.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="NavigationPoint">
		<xsd:complexContent>
			<xsd:extension base="connection:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:element name="AccessEquipmentId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData used to define the access equipment. Any means or areas that provide access to a stop place or an area within the location is defined. In particular equipment at the vehicle access area is included. This may be check-in barriers or equipment for security check. Occurrence Indicator : one to many access equipment can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FootpathEquipmentId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData used to define the foot path equipment. Any equipment that may be used by a passenger to cross a stop place or parts of it is defined. Occurrence Indicator : one to foot path equipment can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="SafetyEquipmentId" type="connection:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData used to define safety equipments. Any equipment for the safety and security at a stop place. Occurrence Indicator : one to many safety equipment can optionally be defined.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="ScheduledStopPoint" type="connection:ScheduledStopPoint" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Departure time information of the "NavigationPoint" (e.g. if NavigationPoint is the boarding point to a shuttle). Occurrence Indicator : one and only one "ScheduledStopPoint" can optionally be defined for a Navigation Point.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="VehicleAccess" type="connection:VehicleAccess" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Vehicle Access information (e.g. if NavigationPoint is the boarding point to a shuttle). Occurrence Indicator : one and only one "VehicleAccess" can optionally be defined for a Navigation Point.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>


    <!-- start of Connection.xsd   -->

</xsd:schema>
