Transportation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:common="http://domainmodel.pts_fsm.org/2015/10/29/common" 
	
	xmlns:transportation="http://domainmodel.pts_fsm.org/2015/10/29/transportation" 
	targetNamespace="http://domainmodel.pts_fsm.org/2015/10/29/transportation" elementFormDefault="qualified">
	
	<xsd:import namespace="http://domainmodel.pts_fsm.org/2015/10/29/common" schemaLocation="Common.xsd"/>

	<xsd:complexType name="Vehicle">
		<xsd:complexContent>
			<xsd:extension base="common:FSM.ID">
				<xsd:sequence minOccurs="0" maxOccurs="1">
					<xsd:element name="ServiceBrandId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to define the Service Brand. Most types of individual collections of services derive from a means of transportation, e.g. a train type like TGV or ICE. A train, which runs from Frankfurt to Paris and offers some specific features, is called ICE-Paris. The train which serves the lines from Paris to Cologne and Frankfurt, is called Thalys. Occurrence Indicators : one to many "ServiceBrandId" can optionally be defined for a Vehicle (e.g. in case a Vehicle is co-operated between several service brand).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="OnboardServiceCategoryId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to define the category of any type of equipment or service on-board of a vehicle. Occurrence Indicators : one to many "OnboardServiceCategoryId" can optionally be defined for a Vehicle.</xsd:documentation>
						</xsd:annotation>	
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="ExternalId" type="xsd:NMTOKEN" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Vehicle external ID.</xsd:documentation>
					</xsd:annotation>	
				</xsd:attribute>
				<xsd:attribute name="TypeId" type="common:MasterData.GUID" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Type of vehicle.</xsd:documentation>
					</xsd:annotation>	
				</xsd:attribute>
				<xsd:attribute name="VehicleId" type="xsd:NMTOKEN" use="optional">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">Vehicle ID.</xsd:documentation>
					</xsd:annotation>	
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="PlaceReference">
		<xsd:complexContent>
			<xsd:extension base="common:FSM.ID">
				<xsd:sequence minOccurs="0">
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">References the segment related to the PlaceReference.
								Occurrence Indicators : the setting of this parameter is mandatory.
								The "SegmentIdRef" (type NMTOKEN) must be used at Prebooking stage and ExchangePrebooking stage in statefull workflow.
								The "SegmentRef" (type IDREF) must be used in any other cases.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="SegmentIdRef" type="xsd:NMTOKEN" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the segment related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one segment can be defined. NMTOKEN type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="SegmentRef" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the segment related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one segment can be defined. IDREF type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:choice minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">References the passenger related to the PlaceReference.
								Occurrence Indicators : the setting of this parameter is mandatory.
								The "PassengerIdRef" (type NMTOKEN) must be used at Prebooking stage and ExchangePrebooking stage in statefull workflow.
								The "PassengerRef" (type IDREF) must be used in any other cases.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="PassengerIdRef" type="xsd:NMTOKEN" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the passenger related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one passenger can be defined. NMTOKEN type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="PassengerRef" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References the passenger related to the PlaceReference. Occurrence Indicators : the setting of this parameter is mandatory. One and only one passengers can be defined. IDREF type does not allow to set several Ids.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element name="PlaceTypeId" type="common:MasterData.GUID" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">MasterData type used to define the type of place in a coach (e.g. window, aisle, duo,...) Occurrence Indicators : 0-1 : if CoachId, CompartmentId, PlaceId, FloorId are defined then PlaceTypeId is not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CoachId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Coach ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CompartmentId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Compartment ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="PlaceId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Place ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="FloorId" type="xsd:NMTOKEN" minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Floor ID. Occurrence Indicators : 0-1 : if PlaceTypeId is defined then CoachId, CompartmentId, PlaceId, FloorId are not taken into account.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="WidthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Width Position. Occurrence Indicators : optional parameter, only one "WidthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="LengthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Length Position. Occurrence Indicators : optional parameter, only one "LengthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CompartmentWidthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Compartment Width Position. Occurrence Indicators : optional parameter, only one "CompartmentWidthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="CompartmentLengthPos" type="xsd:decimal"  minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Compartment Length Position. Occurrence Indicators : optional parameter, only one "CompartmentLengthPos" can be defined for a Place Reference.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice minOccurs="0" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">
								Define other booking passengers the current passengers want to be seat by. Place Reference is used in different ways that impacts how to refer to passengers :
								- Offering (Request-Response) : The passenger element is available ("OfferingParameters"->"Passenger") and place-reference NeighbourPassenger must refers to passengers using IDREFS.
								- PreBooking and ExchangePreBooking with Direct-Booking workflow : Again passenger element is available (in "DirectBookingParameters"->"Passenger") and place reference NeighbourPassenger must refers to passengers using IDREFS.
								- PreBooking and ExchangePreBooking Standard Process Stateless (following a Offer or Exchange Offer Responses): In this case, some RSP might allow to update PassengerPreferences during the PreBooking (or ExchangePreBooking) stage, the "passenger" information is available in the "CarrierOffer" element and place-reference NeighbourPassenger must refers to passengers using IDREFS.
								- PreBooking and ExchangePreBooking Standard Process Statefull (following a Offer or Exchange Offer Responses): In this case, some RSP might allow to update PassengerPreferences during the PreBooking (or ExchangePreBooking) stage. In this case Passenger is not available and passengers need to be referenced using External ID, by default, this ID is the RSP_ID.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="NeighbourPassengerIdRefsList" type="xsd:NMTOKENS"  minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References to Passengers that are seated together. In the context of Pre-Booking (or ExchangePreBooking) with a Statefull reference to CarrierOffers (CarrierOfferIdRefsList). Occurrence Indicators : 1-1, if the element exist a passenger reference is mandatory, NMTOKENS type allows to add multiple ID references separated with spaces</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="NeighbourPassengerRefsList" type="xsd:IDREFS"  minOccurs="1" maxOccurs="1">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">References to Passengers that are seated together. In the context of Offering or Direct-Booking (PreBooking or ExchangePreBooking) or in a context of Pre-Booking (or ExchangePreBooking) with a Stateless reference to CarrierOffers (CarrierOffer). Occurrence Indicators : 1-1, if the element exist a passenger reference is mandatory, IDREFS type allows to add multiple ID references separated with spaces</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>
